<html>
<head>
<title>{{ title }}</title>
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <a href="{{ url }}">View original</a>
    </div>

    <div>{{ content | safe }}</div>
    <div>{{ reader_url }}</div>
</body>
</html>